/*GENERAL*/
html body{
    font-family: 'Lato', sans-serif;
}

.view {
    width: 85%;
    position: relative;
    margin: 0 auto;
    height: 100%;
}

h1{
    font-size: 22px;
    margin-bottom: 10px;
}

h2{
    font-size: 19px;
    
}

a{
    text-decoration: none;
}

/* header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    
}

.conteudo-header{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo-header h2 {
    font-size: 35px;
    color: #235270;
}

header img{
    height: 70px;
}

.conteudo-header button{
    border: none;
    background-color: transparent;
    color: #235270;
    font-size: 40px;
}

/* main */
.banner{
    margin: 0;
    padding: 0;
    display: block;
}

.banner img {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}
.fundo-cinza{
    background-color: #85b8c5;
    color: white;
    padding: 7px 0;
}

.conteudo-informativo{
    margin: 20px 0;
    border-left: rgb(75, 207, 168) 2px solid;
}

.conteudo-informativo h1{
    margin-left: 15px;
}

.conteudo-informativo h2{
    margin-left: 15px;
    color: rgb(173, 173, 173);
}

.conteudo-informativo h3{
    margin-left: 15px;
    font-size: 19px;
    color: rgb(75, 207, 168);
    margin-top: 5px;
}

main .view{
    padding: 40px 0;
}

iframe{
    margin-bottom: 10px;
}

.cinza-claro{
    background-color: rgb(242, 253, 255);
}

.circulo-avatar{
    border-radius: 50%;
    background-color: white;
    margin: 0 auto;
    position: relative;
    margin-top: 40px;
    
}

.equipe-card {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 20px 0;
}

.equipe-card .circulo-avatar{
   width: 100px;
   height: 100px;
   margin: auto 0;
}

.equipe-card-info{
    width: 65%;
    margin-left: 30px;
}

.equipe-titulo{
    margin-top: 30px;
    margin-bottom: 20px;
}

.equipe-card h3{
    color: rgb(219, 219, 219);
}
/* menu */
.menu{
    height: 111%;
    width:60%;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 99px;
    background-color: rgb(203, 255, 239);
    display: none;
}

.menu ul{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20% 0;
}

.menu a li{
    color: #235270;
}

/* footer */
footer{
    background-color: rgb(118, 255, 214);
    padding: 20px 0;
}

footer .view{
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

footer ul li{
    margin: 10px;
    color:#235270;
}

.logo-footer img {
    height: 50px;
    border-right: 2px solid #235270;
    padding: 20px;
}

.contatos li{
    display: flex;
    align-items: center;
}

.contatos img{
    height: 20px;
    margin-right: 5px;
}